name: Generate Pacman Animation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Pacman SVG
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: jayukarde10
          output: pacman.svg

      - name: Commit and push pacman.svg
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add pacman.svg
          git commit -m "Update pacman animation" || echo "No changes"
          git push
