name: Generate Pacman Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: jayukarde10

      - run: |
          mv dist/pacman.svg pacman.svg
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add pacman.svg
          git commit -m "update pacman animation" || echo "no changes"
          git push
