name: Generate Pacman Animation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Pacman contribution graph
        uses: Platane/snk@v3
        with:
          github_user_name: jayukarde10
          outputs: pacman.svg

      - name: Commit and push pacman.svg
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add pacman.svg
          git commit -m "Add pacman animation" || echo "No changes"
          git push
